html , body{
	margin: 0;
}
nav{
	margin-top: 10%;
}
nav .jumbotron {
transition: background-position 1s;
	background-attachment: fixed;
	background-position: center;
	position: absolute;
	top:0px;
	background: url('https://cdn.hotelplanner.com/Common/Images/_HotelPlanner/Home-Page/fade/sld6.jpg');
	height:800px;
	width:100%;
	animation: skewy 7s infinite;
}


nav .jumbotron > img{
	height:10% ;
	width:30%;
}
nav ul li{
	list-style-type: none;
	float: left;
	width:20%;
	font-family: Raleway;
	font-size:30px;
	font-weight:800;
	color:white;
	cursor: pointer;
}
nav ul li:hover{
opacity: 0.7;
}
nav h2{
	background: black;
	height:15%;
	width: 40%;
	color: #fff;
	position: relative;
	left:30%;
	top:35%;
	text-align:center;
	font-family:Abel;
	font-size: 40px;
	letter-spacing: 2px;
}

nav .quick_book_acess{
background: #fff;
width:80%;
height:20%;
position: relative;
top:60%;
left:50%;
box-shadow: 0px 0px 100px 2px;
transform: translate(-50%,-50%);
/*animation: borderglow 2s infinite;*/
    border: 10px solid #ff0000;
    

}
.quick_book_acess .caption_2{

	font-family: Raleway;
	font-size: 26px;
	text-align: center;

}
@keyframes borderglow{
	10%{
		    border-color:#f300ff;
	}
	50%{
		border-color: #b800ff;
	}
	75%{
		border-color: #4e00f;
	}
}